body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 4%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 93%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    width: 40%;
    margin: 60px auto;
    border-radius: 25px;
    padding-bottom: 20px;
}

form {
    width: 100%;
}

div {
    text-align: center;
    padding: 15px;
}

h1 {
    color: blue;
}

input, select {
    width: 70%;
    height: 50px;
    padding: 5px 30px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: rgb(223, 221, 221);
    color: rgb(91, 89, 89);
}

select {
    /* Ensure select looks consistent with inputs */
    appearance: none; /* Remove default arrow in some browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

button {
    width: 45%;
    font-size: 16px;
    height: 50px;
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 4%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 93%);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: rgb(33, 66, 213);
}